<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <div class="container">
        <article role="status">
          <h3 class="text-center">Reservation Status</h3>
          <div class= "container">
            <div class="row top-buffer">
              <div class="col-sm-offset-1 col-sm-2 ">Event</div>
              <div class="col-sm-3"><%= conference.name %></div>
              <div class="col-sm-4"><%= conference.address %></div>
            </div>
            <div class="row top-buffer">
              <div class="col-sm-2 col-sm-offset-1">Attendee</div>
              <div class="col-sm-3"><%= user.name%></div>
              <div class="col-sm-4"><%= user.email%></div>
            </div>
            <div class="row top-buffer">
              <div class="col-sm-2 col-sm-offset-1">Status</div>
              <div class="col-sm-5">You Are Registered<i class="fa fa-check"></i></div>
            </div>
            <div class="row top-buffer">
              <div class="col-sm-2 col-sm-offset-1">Confirmation Number</div>
              <div class="col-sm-5"><%= confirmationNumber %></div>
            </div>
          </div>
        </article>
      </div>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
